body
{
	background-color:#e3e3e3;
	font-family: 'Karla', sans-serif; 
	font-size: 16px;
}
p{
	font-size: 16px;
	margin-bottom: : 1.6em;
	margin-top: 0; 
    line-height: 1.6em;
}
img
{
	width:1800px;
	height:400px;
	padding-top: 50px;

}
header
{
	overflow: hidden;
	width: 100%;
	/*padding:40px 5px;*/
	position:fixed;
	background-color: #f1f1f1;
}
header a
{
	float:left;
	color:black;
	text-align: center;
	padding:12px;
	text-decoration: none;
	line-height: 5px;
	border-radius: 4px;

}

header .logo
{
	font-size:30px;
    font-weight: bold;
    width: 20%;
}
header a:hover
{
    background-color:#ddd;
    color:black;
}
.header-right{
font-size: 18px;
float:right;
width:auto;
margin-top: 30px;
}
body, html {
    height: 100%;
}

.hero-image {
	padding-top: 400px;
	margin-left: 10px;
	height: 25%;
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/dark.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: center;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: sans-serif;
  font-style: italic;
}
.hero-text button:hover{
background-color: #555;
color:white;
}
h2
{
	font-size:20px;
	text-align:center;
	margin-top: 50px;
}
.column{
	flex:50%;
	float:left;
}
.row{
	display:flex;
	padding:0;
}
.column1{
	flex:50%;
	float:left;
}
.row1{
	display:flex;
	padding:0;
}
.footer img{
	width: 50px;
	height:50px;
	
}
.footer{
	clear: both;
	width:100%;
	background-color:none;
	color:black;
	text-align: center;
	font-size: 16px;
	margin-bottom:1.6em; 
    line-height: 1.6em;
}
h5{
	text-align:center;
}
